@charset "UTF-8";
/* CSS Document */

body {
	margin:0 auto;
	padding:0 auto;
	height: 100%;
	font-family: Helvetica, Arial, "sans-serif";

}



.birdlogo{
	position: fixed;
	margin-left: 50px;
	margin-top: 50px;
	width: 180px;
	height: 110px;
}

.img-back:hover{
	display: none;
}

.img-back:hover ~ .img-front {
	display: block;
}

.img-front{
	display: none;
}

.img-area {
	position:relative;
	height: 110px;
	width: 180px;
	margin: 0 auto;
}
.img-area img{
	position: absolute;
	left:0;
	height: 110px;
	width:180px;
	transition: none;
}


*/
/*********img-area-end**********/

/************** manu ******************/
.lefthead1 {
	position:fixed;
	z-index: 1;
}
.lefthead {
	list-style: none;
	font-family: Arial;
	font-weight:700;
	float:left;		
	margin-top: 300px;
	margin-left: 30px;
	position: fixed;
	left: 30px;
	}
.lefthead .secondmanu{
	list-style: none;
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
.tophead1 {
	margin-left:330px;
	margin-top: 80px;
	position:fixed;
	z-index: 1;
}
.tophead li{
	list-style: none;
	float:left;
	font-family: Arial;
	font-size: 14px;
	width:70px;
	height: 100%;
	text-align:center;
	z-index: 1;
}

/*************** manu end ********************/

article{
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 14px;
}

main{
	margin: 0 auto;
	padding: 0 auto;
	font-family: Arial;
	font-size: 14px;
	background-image: url(../image/front1.png);
	background-attachment:scroll;
	background-position:top;
	background-repeat: no-repeat;
	/*position: relative;
	min-height: 100vh;
	min-width: 100vh;*/
	padding-bottom: 0px;
	z-index: -1;
	opacity:0.6；
}

footer {
	font-family: Arial;
	font-size: 12px;
	margin:0;
	text-align: center;
	padding:0;
	clear: both;
	width: 100%;
	z-index:1;
	bottom: 0;
	position: fixed;
	
}
.bgp {
	max-width:1200px;
	height:700px;
	margin:0 auto;
/*
	position:relative;
	background-image: url("image/front1.png");
	background-attachment:scroll;
	background-position:top;
	background-repeat: no-repeat;
*/
	z-index: -1;
}

/***************a**************/

a{
	text-decoration-line: none;
	color:black;
}

a:visited {
	text-decoration: none;
	color:black;
}
a:hover {
	color:chartreuse;
	font-style:italic;
	font-style:oblique;
	cursor:pointer;
	font-weight:500;
	text-decoration:line-through;
}

a:activated {
	text-decoration:none;
}

/**************主页结束**************/
.about{
	margin: 0 auto;
	min-width:100vh;
	min-height: 100vh;
	/*text-align: center;*/
	padding-top:200px;
	padding-left: 300px;
	
}
/***************** 主页照骗 *************/
.portfoliopic{
	float:left;
	width:200px;
	height: 254px;
	margin-left: 0 auto;
	background-image: url(../image/about/portfoliopic.JPG);
	position: fixed;
	z-index: 1;
}
.portfoliopic1{
	float:left;
	width:200px;
	height: 254px;
	margin-left: 0 auto;
	background-image: url(../image/about/about.jpg);
	position: fixed;
	z-index: 1;
}
.aboutinfo{
	float: left;
	width: 0 auto;
	height:100%;
	margin-left:220px;
	margin-bottom: 50px;
	border-bottom: 20px;
	line-height: 16px;
	position: fixed;
	z-index: 1;	
}


/**************about结束**************/

.writingfront {
	width: 600px;
	height:400px;
	margin-left:50px;
	padding-top:5px;
	line-height: 14px;
	position: fixed;
}
.writingfront-writing {
	background: rgba(255,255,255,0.7);
	width: 600px;
	height:1000px;
	margin-left:50px;
	padding-top:5px;
	line-height: 18px;
	position: relative;
}
