@charset "UTF-8";
/* CSS Document */

body {
	margin:0 auto;
	padding:0 auto;
	height: 100%;
	font-family: Helvetica, Arial, "sans-serif";

}



.birdlogo{
	position: fixed;
	/*margin-left: 50px;
	margin-top: 50px;
	width: 180px;
	height: 110px;*/
}

.img-back:hover{
	display: none;
}

.img-back:hover ~ .img-front {
	display: block;
}

.img-front{
	display: none;
}

.img-area {
	position:relative;
	height: 110px;
	width: 180px;
	margin: 0 auto;
}
.img-area img{
	position: absolute;
	left:0;
	height: 110px;
	width:180px;
	transition: none;
}


*/
/*********img-area-end**********/

/************** manu ******************/
.lefthead1 {
	position:fixed;
	z-index: 1;}
ul li {
	list-style-type: none;
}
.lefthead {
	list-style: none;
	font-family: Arial;
	float:left;		
	margin-top: 150px;
	margin-left: 30px;
	position: fixed;
	left: 30px;
	}
/*.lefthead .secondmanu{
	list-style: none;
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}*/
.tophead1 {
	margin-left:330px;
	margin-top: 80px;
	position:fixed;
	z-index: 1;
}
.tophead li{
	list-style: none;
	float:left;
	font-family: Arial;
	font-size: 12px;
	width: 130px;
	height: 100%;
	text-align:center;
	z-index: 1;
}

/*************** manu end ********************/

article{
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 12px;
}

main{
	margin: 0 auto;
	padding: 0 auto;
	font-family: Arial;
	font-size: 12px;
	padding-bottom: 0px;
	z-index: -1;
	opacity:0.6；
}
.bbox1{
	margin: 0 auto;
	padding: 0 auto;
	font-family: Arial;
	font-size: 12px;
	padding-bottom: 0px;

	/*background-image: url(../image/front2-1.png);
	background-attachment:scroll;
	background-position:top;
	background-repeat: no-repeat;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/

	z-index: -1;
	opacity:0.6；
}

footer {
	font-family: Arial;
	font-size: 10px;
	margin:0;
	text-align:center;
	padding:0;
	clear: both;
	width: 100%;
	z-index:1;
	bottom: 0;
	position: fixed;
	
}
.label{
	font-family: Arial;
	font-size: 12px;
	
	vertical-align: middle;
	padding-left: 30px;
	margin-left: 80px;
	height: 38px;
	clear: both;
	width: 100%;
	z-index:1;
	bottom: 0;
	position: fixed;
}

/***************a**************/

a{
	text-decoration-line: none;
	color:black;
}

a:visited {
	text-decoration: none;
	color:black;
}
a:hover {
	color:chartreuse;
	font-style:italic;
	font-style:oblique;
	cursor:pointer;
	font-weight:500;
	text-decoration:line-through;
}

a:activated {
	text-decoration:none;
}

/**************主页结束**************/
.about{
	margin: 0 auto;
	min-width:100vh;
	min-height: 100vh;
	padding-top:150px;
	padding-left: 300px;
	z-index:1;
	
}

.aboutinfo{
	float: left;
	width: 0 auto;
	height:100%;
	margin-left:0px;
	margin-bottom: 50px;
	border-bottom: 20px;
	line-height: 14px;
	position: fixed;
	z-index: 1;	
}


/**************about结束**************/

.writingfront {
	width: 660px;
	height:100%;
	margin-left:50px;
	line-height: 16px;
	position: fixed;
	z-index: 1;	
}
.writingfront-writing {
	background: rgba(255,255,255,0.8);
	width: 660px;
	height:auto;
	margin-left:50px;
	margin-top: 55px;
	line-height: 16px;
	position: relative;
	overflow: auto;
}
.container {
	width: 660px;
	height:50px;
	margin-left:50px;
	line-height: 16px;
	position: relative;
	z-index: -1;
	
}
